.section2-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    flex-wrap: wrap; /* permite responsividade em telas menores */
  }
  
  .section2-textos {
    flex: 1;
    min-width: 300px;
  }
  
  .section2-image {
    flex: 1;
    min-width: 300px;
    text-align: center;
  }
  
  .section2-image img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
    max-height: 400px;
  }
  