<section class="section3" id="section3">
    <div class="container-section3">
        <h1>Serviços de Instalação e Manutenção de Redes para Residências e Empresas</h1>

        <div class="conteudo-section3">

            <div class="produtos-section3">
                <img src="./imagens/amigos.jpg" alt="">
                <h2>Conecte-se com a Melhor Experiência em Telecomunicações</h2>
                <p>Oferecemos soluções completas para instalação e manutenção de redes, garantindo qualidade e
                    eficiência.</p>
                <button>Saiba Mais</button>
            </div>

            <div class="produtos-section3">
                <img src="./imagens/2.png" alt="">
                <h2>Instalação Rápida e Eficiente para Redes Domésticas e Empresariais</h2>
                <p>Nossos técnicos especializados asseguram uma instalação sem complicações e com suporte contínuo.</p>
                <button>Contrate</button>
            </div>

            <div class="produtos-section3">
                <img src="./imagens/3.jpg" alt="">
                <h2>Manutenção Proativa para Garantir a Estabilidade da Sua Rede</h2>
                <p>Realizamos manutenções regulares para prevenir falhas e otimizar o desempenho da sua rede.</p>
                <button>Agende</button>
            </div>

        </div>

    </div>
</section>