<section class="section5">
    <div class="container-section5">
        <h1 class="section5-title">Perguntas</h1>
        <p class="section5-text">Aqui estão as respostas para as perguntas mais frequentes sobre nossos serviços de
            telecomunicações.</p>
        <div class="section5-questions">
            <div>
                <p class="question">Quais serviços vocês oferecem?</p>
                <p class="answer">Oferecemos instalação e manutenção de redes domésticas e empresariais. Nossos serviços garantem uma conexão estável e confiável. Estamos prontos para atender suas necessidades específicas.</p>
            </div>
            <div>
                <p class="question">Como agendo uma instalação?</p>
                <p class="answer">Você pode agendar uma instalação através do nosso site ou pelo telefone. Nossa equipe entrará em contato para confirmar a data e horário. Estamos aqui para facilitar o processo para você.</p>
            </div>
            <div>
                <p class="question">Vocês oferecem suporte técnico?</p>
                <p class="answer">Sim, oferecemos suporte técnico para todos os nossos serviços. Nossa equipe está disponível para resolver qualquer problema que você possa enfrentar. Entre em contato conosco para assistência imediata.</p>
            </div>
            <div>
                <p class="question">Qual é o prazo de instalação?</p>
                <p class="answer">O prazo de instalação varia conforme a demanda e a complexidade do serviço. Geralmente, conseguimos realizar a instalação em até 5 dias úteis. Informaremos o prazo exato durante o agendamento.</p>
            </div>
            <div>
                <p class="question">Como posso cancelar?</p>
                <p class="answer">Para cancelar um agendamento, entre em contato conosco o mais rápido possível. Você pode fazer isso pelo telefone ou pelo nosso site. Nossa equipe ajudará a processar seu cancelamento.</p>
            </div>
            <div>
            <h1 class="section5-title">Ainda tem dúvidas?</h1>
            <p class="section5-text">Estamos aqui para ajudar!</p>
            </div>
            <button class="btn btn-outline">Contato</button>
        </div>
    </div>
</section>