<section class="section1">
    <div class="container-section1">
        <h6>Conectividade</h6>
        <h1 class="section1-title">Soluções em Telecomunicações</h1>
        <p class="section1-text">
            Bem-vindo à nossa plataforma, onde a qualidade e a eficiência em telecomunicações se encontram.
        </p>
        <div class="section1-buttons">
            <button class="btn btn-dark">Saiba Mais</button>
            <button class="btn btn-outline">Contato</button>
        </div>
    </div>
</section>