<section>
    <div class="section4">
        <div class="container-section4">
            <h1 class="title-section4"> Nossos Recursos: Conectividade e Suporte ao Seu Alcance</h1>
            <div class="blocks">
                <i class="ph-fill ph-cube"></i>
                <h3 class="infor"> Atendimento ao Cliente 34/7 para Sua Comodidade</h3>
                <p class="paragraph2">Estamos disponíveis a qualquer hora para resolver dpuvidas e problemas.</p>
                <button class="btn-link">Saiba Mais <i class="ph ph-caret-right"></i></button>

            </div>

            <div class="blocks">
                <i class="ph-fill ph-cube"></i>
                <h3 class="infor">Suporte Técnico Remoto para Soluções Imediatas</h3>
                <p class="paragraph2">Nossa equipe técnica está pronta para ajudar sem você sair de casa.</p>
                <button class="btn-link">Ajuda <i class="ph ph-caret-right"></i></button>

            </div>

            <div class="blocks">
                <i class="ph-fill ph-cube"></i>
                <h3 class="infor"> Visitas Técnicas Agendadas para Maior Confiabilidade</h3>
                <p class="paragraph2">Agende uma visita e tenha um especialista em sua casa ou empresa.</p>
                <button class="btn-link">Agendar <i class="ph ph-caret-right"></i></button>

            </div>
        </div>
    </div>
    
</section>