<section class="section4">
  <div class="container-section4">
    <h1 class="title-section4">Nossos Recursos: Conectividade e Suporte ao Seu Alcance</h1>
    
    <div class="blocks-container">
      <div class="block">
        <h3 class="info">Atendimento ao Cliente 24/7</h3>
        <p class="paragraph">Estamos disponíveis a qualquer hora para resolver dúvidas e problemas.</p>
      </div>

      <div class="block">
        <h3 class="info">Suporte Técnico Remoto</h3>
        <p class="paragraph">Nossa equipe técnica está pronta para ajudar sem você sair de casa.</p>
      </div>

      <div class="block">
        <h3 class="info">Visitas Técnicas Agendadas</h3>
        <p class="paragraph">Agende uma visita e tenha um especialista em sua casa ou empresa.</p>
      </div>
    </div>
  </div>
</section>
