<section></section>
    <div class="section4">
        <div class="header">
            <h1 class="title-section4"> Nossos Recursos: Conectividade e Suporte ao Seu Alcance</h1>
            <div class="blocks">
                <h3 class="infor"> Atendimento ao Cliente 34/7 para Sua Comodidade</h3>
                <p class="paragraph2">Estamos disponíveis a qualquer hora para resolver dpuvidas e problemas.</p>
                <a href="#">Saiba Mais ></a>

            </div>

            <div class="blocks">
                <h3 class="infor">Suporte Técnico Remoto para Soluções Imediatas</h3>
                <p class="paragraph2">Nossa equipe técnica está pronta para ajudar sem você sair de casa.</p>
                <a href="#">Ajuda ></a>

            </div>

            <div class="blocks">
                <h3 class="infor"> Visitas Técnicas Agendadas para Maior Confiabilidade</h3>
                <p class="paragraph2">Agende uma visita e tenha um especialista em sua casa ou empresa.</p>
                <a href="#">Agendar ></a>

            </div>
        </div>
    </div>
    
</section>