<section class="section2">
    <div class="container-section2">
        <h6>Confiabilidade</h6>
        <h1 class="section2-title">Por que escolher nossos serviços de telecomunicações?</h1>
        <p class="section2-text">
            Nossos serviços garantem uma conexão estável e rápida, ideal para sua casa ou empresa. Com uma equipe de
            suporte técnico sempre pronta para ajudar, você pode contar conosco a qualquer momento.
        </p>

        <div class="section2-lista">
            <ul>
                <li>Instalação rápida e sem complicações para sua rede.</li>
                <li>Manutenção preventiva para evitar problemas futuros.</li>
                <li>Suporte técnico especializado disponível 24/7.</li>
            </ul>
        </div>

        <div class="section2-buttons">
            <button class="btn btn-dark">Saiba Mais</button>
            <button class="btn btn-outline">Contate-Nos</button>
        </div>

        <div class="section2-image">
            <img src="./imagens/4.jpg" alt="">
            </div>
        </div>
    </div>
</section>